*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.text-white{
    color:white;
}
.clear{
    clear:both
}

#main{
    
}
#header{
    height: 46px;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}
#nav{
    display:inline-block;
}

#nav li{
    display: inline-block;
    position: relative;
}
#nav > li > a{
    color:white;
    text-transform: uppercase;
}
#nav li:hover .subnav{
    display:block;
}
#nav li a{
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
}
#nav li:hover > a{
    background-color: gray;
    color:black;
    display:inline-block
}
#nav .subnav{
    display:none;
    min-width: 100%;
    position:absolute;
    background-color: white;
}
#nav .subnav a{
    color:black;
}
.subnav li:hover{
    background-color: gray;
    display:inline-block;
    width: 100%;
}
#nav .arrowDown{
    font-size: 10px;
}
.search-icon{
    font-size: 20px;
    float: right;
    color: white;
    padding: 13px 26px;
}
#header .search-icon:hover{
    background-color: red;
    cursor: pointer;
}
#slider{
    padding-top: 50%;
    margin-top: 35px;
    position:relative;
    background: url('chicago.jpg') top center / cover no-repeat;
}
.Text {
    position: absolute;
    color: white;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 28px;
}
#Location{
    font-size: 50px;
    padding-bottom: 15px;
    color: rgba(ff,ff,ff,0.5);
    font-family: Arial, Helvetica, sans-serif;
}
#description_text{
    font-weight: 500;
}
.arrow-left{
    position: absolute;
    left: 0;
    cursor: pointer;
    bottom:0;
    top:50%;
    color: white;
    font-size: 40px;
    padding-left: 40px;
}
.arrow-right{
    position: absolute;
    right: 0;
    cursor: pointer;
    bottom:0;
    top:50%;
    color: white;
    font-size: 40px;
    padding-right: 40px;
}
#content{

}
#content .content-section{
    width: 800px;
    margin-left: auto;
    margin-right:auto;
}
#content .content-section-header{
    text-align: center;
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 500;
    padding: 25px 0px;
}
#content .content-section-sub-header{
    text-align: center;
    font-size: 16px;
    font-style: italic;
    opacity: 0.6;
    padding-bottom: 25px;
}
#content .content-section-about{
    text-align: justify;
    line-height: 1.5;
}
#content .member-list{
    overflow: hidden;
    padding-bottom: 46px;
}
#content .member{
    float: left;
    width: 33.3333%;
    text-align: center;
    padding-top: 46px;
}
.img1{
    width: 154px;
    border-radius: 4px;
}
#content .name{
    top:10px;
}
#content .tour-section{
    background-color: black;
}
.tour-section{
    height: 700px;
}
.tour-section .ticket-list{
    background-color: white;
    height: 120px;
}
.tour-section ul li{
    list-style-type: none;
    border-bottom: 1px solid #ccc;
    line-height: 40px;
}
.tour-section ul li:last-child{
    border-bottom: none;
}
.tour-section .sold-out{
    background-color: rgb(244, 67, 54);
    color:white;
    font-size: 15px;
    font-weight: 300;
    padding: 3px 5px;
    margin-left: 8px;
}
.tour-section .available{
    float: right;
    width: 24px;
    background-color: black;
    margin-right: 10px;
    height: 24px;
    margin-top: 8px;
    color: white;
    text-align: center;
    line-height: 24px;
    border-radius: 40px;
}
.tour-places{
    margin-top: 32px;
}
.places{
    float:left;
    width: 33.333%;
    background-color: white;
    padding: 0 8px;
}
.img2{
    width: 100%;
}
.place-name{
    
}
.date{
    
}
.about-place{
    
}
#footer{
    
}